<html>

<%- include('./partials/head') %>

<body>
  <%- include('./partials/header') %>
  <main id="site-main">
    <div class="container">
      <div class="box-nav d-flex-justify-between">
        <%- include('./partials/navbar') %>
      </div>
      <div class="form-title text-center">
        <h2>Nowy autor</h2>
        <span class="text-light">Użyj formularza do wprowadzenia nowego autora</span>
      </div>

      <%- include('./partials/add_author_form') %>
      <%- include('./partials/footer') %>
    </div>
  </main>

</body>

</html>