<html>

<%- include('./partials/head') %>

<body>
  <%- include('./partials/header') %>
  <main id="site-main">
    <div class="container">
      <div class="box-nav d-flex-justify-between">
        <%- include('./partials/navbar') %>

        <form action="/" method="POST">
          <table class="table">
            <thead class="thead-dark">
              <tr>
                <th>Pozycja</th>
                <th>Imie</th>
                <th>Nazwisko</th>
                <th>Akcja</th>
              </tr>
            </thead>
            <tbody>
              <%- include('./partials/show_authors') %>
            </tbody>
          </table>
        </form>
      </div>
      <%- include('./partials/footer') %>
    </div>

  </main>
</body>

</html>