<html>

<%- include('./partials/head') %>

<body>
  <%- include('./partials/header') %>
  <main id="site-main">
    <div class="container">
      <div class="box-nav d-flex-justify-between">
        <%- include('./partials/navbar') %>
      </div>
      <div class="form-title text-center">
        <h2>Edytuj autora</h2>
        <span class="text-light">Użyj formularza do edycji autora</span>
      </div>
      <%- include('./partials/update_author_form') %>
      <%- include('./partials/footer') %>
    </div>

  </main>

</body>

</html>