<% for(var i=0;i < books.length; i++) {%>
<% console.log(books) %>
<tr>
  <td><%= i+1 %>.</td>
  <td><%= books[i].title %></td>
  <td><%= books[i].author?.name  %> <%= books[i].author?.surname  %></td>
  <td>
    <a href="/updatebook?id=<%= books[i]._id %>" class="btn border-shadow update">
      <span class="text-gradient">Edytuj</span>
    </a>
    <a class="btn border-shadow delete pointer" data-id="<%= books[i]._id %>">
      <span class="text-gradient">Usuń</span>
    </a>
  </td>
</tr>
<%}%>